{% extends 'base.html' %}
{% block title %} Home{% endblock title %}
{% block body %} 
<div class="container-fluid my-4">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://b.zmtcdn.com/data/pictures/chains/3/40853/6575f9f7e5b67f8b43364fff733b898c.jpg?fit=around|771.75:416.25&crop=771.75:416.25;*,*" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="background: black;">
              <h5>Amazing Food Here</h5>
              <p>Some Amazing And Delicious Food Of Our Restaurant.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://b.zmtcdn.com/data/pictures/1/47211/7398da37ab73c4c7cb16ac860e577369.jpg?fit=around|771.75:416.25&crop=771.75:416.25;*,*" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="background: black;">
              <h5>Amazing Food Here</h5>
              <p>Some Amazing And Delicious Food Of Our Restaurant.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://b.zmtcdn.com/data/pictures/chains/1/19790611/0e03e0166c00e5d5a767c789a048e8da.jpg?fit=around|771.75:416.25&crop=771.75:416.25;*,*" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="background: black;">
              <h5>Amazing Food Here</h5>
              <p>Some Amazing And Delicious Food Of Our Restaurant.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>










    <div class="container my-3">
        <h1 class="my-2 text-center">CHOOSE ANY FOOD</h1>
        
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
                <img src="https://b.zmtcdn.com/data/pictures/chains/1/47211/346447036c0c9839ee54aa34fcab3fa7.jpg?fit=around|300:273&crop=300:273;*,*" class="d-block w-100" alt="...">
  
              <div class="card-body">
                <p class="card-text">Enjoy this delicious meal with our 1 plus 1 offer & get 2 personal pizzas starting @₹249.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="https://b.zmtcdn.com/data/pictures/chains/7/37327/8065982bd1e5b32ea7730a382f7e1d93_o2_featured_v2.jpg?output-format=webp;*,*" class="d-block w-100" alt="...">
  
              <div class="card-body">
                <p class="card-text">Restaurant chain known for its buckets of fried chicken, plus wings & sides.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="https://b.zmtcdn.com/data/pictures/0/45060/68e64597d216d9990acf3805f9cd77fd_o2_featured_v2.jpg" class="d-block w-100" alt="...">
  
              <div class="card-body">
                <p class="card-text">subway special full of vegies.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
                <img src="https://b.zmtcdn.com/data/pictures/chains/3/18140523/64e328ee2b6fe4d82aa36f2f5213f737_o2_featured_v2.jpg" class="d-block w-100" alt="...">
  
              <div class="card-body">
                <p class="card-text">A sandwich is a food typically consisting of vegetables, sliced cheese too delicious .</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="https://b.zmtcdn.com/data/pictures/chains/9/19314639/3ff58bda6538743ee80c5281a80f5add_o2_featured_v2.jpg" class="d-block w-100" alt="...">
  
              <div class="card-body">
                <p class="card-text">You found the most delicious place on the Internet! There's so much to explore here. Find your favorite ice cream brands and flavors.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="https://b.zmtcdn.com/data/pictures/chains/8/36008/d093dfd58d2126f1ae37b7918ba7bb0b_o2_featured_v2.jpg" class="d-block w-100" alt="...">
  
              <div class="card-body">
                <p class="card-text">Our best-selling burger with crispy veg patty, fresh onion and our signature sauce. ... Our tribute to classic american taste.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
                <img src="https://b.zmtcdn.com/data/pictures/5/38405/b220f0e7ee3a76f42e872f7ca3b26df9_o2_featured_v2.jpg" class="d-block w-100" alt="...">
  
              <div class="card-body">
                <p class="card-text">Rich Punjabi Makhni curry with melt-in-the-mouth paneer + Dal Makhni/Chole/Dilli Rajma+ Paratha/Rice </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="https://b.zmtcdn.com/data/dish_photos/ac9/5306bce4cc56ca9609a1d9c4f0ebdac9.jpg" class="d-block w-100" alt="...">
  
              <div class="card-body">
                <p class="card-text">The very Famous dish in agra made by Rahul Kumar Savita And sell at Kinari Bazar Agra so anyone want kindly contact us</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>

                
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="https://b.zmtcdn.com/data/dish_photos/4b3/0885c4a813d1ca0741d992ec735444b3.jpg" class="d-block w-100" alt="...">
  
              <div class="card-body">
                <p class="card-text">Puri+Ragda+Mithi Chutney+Tikha Pani.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock body %}
