{% extends 'base.html' %}
{% block title %} services{% endblock title %}
{% block body %}<div class="services pd">
    <div class="container">
      <h3 class="title">Services</h3>
      <div class="row text-center">
        <div class="col-md-3">
          <div class="square"><i class="fas fa-code"></i></div>
          <div class="serv">
            <h5>Food Ordering</h5>
            <p>Food ordering at your doorstep</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="serv">
            <div class="square"><i class="fas fa-cogs"></i></div>
            <h5>Fresh Vegies Food </h5>
            <p>We can serve Food Made with Fresh Vegies</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="square"><i class="fas fa-globe"></i></div>
          <div class="serv">
            <h5>Hotel Bookings</h5>
            <p>We also accept Party/Weedings/Get Together Parties Booking</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="square"><i class="fas fa-user-shield"></i></div>
          <div class="serv">
            <h5>Secure Website</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
          </div>
        </div>
      </div>
    </div>
  </div>{% endblock body %}